{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<h1>Fyyur <img src="/static/icon/fyyur.svg" alt="Fyyur" style="width: 2rem;height: 2rem;vertical-align: text-top;"></h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple"><span class="mdc-button__ripple"></span>Find a venue</a>
			<a href="/venues/create" class="mdc-button mdc-button--outlined" data-mdc-auto-init="MDCRipple"><span class="mdc-button__ripple"></span>Post a venue</a>
		</h3>
		<h3>
			<a href="/artists" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple"><span class="mdc-button__ripple"></span>Find an artist</a>
			<a href="/artists/create" class="mdc-button mdc-button--outlined" data-mdc-auto-init="MDCRipple"><span class="mdc-button__ripple"></span>Post an artist</a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create" class="mdc-button mdc-button--outlined" data-mdc-auto-init="MDCRipple"><span class="mdc-button__ripple"></span>Post a show</a>
		</h3>
	</div>
	<div class="col-md-6">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
{% endblock %}