{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="mdc-list" data-mdc-auto-init="MDCList">
	{% for venue in results.data %}
	<li class="mdc-list-item" tabindex="0" data-mdc-auto-init="MDCRipple" onclick="location.href='/venues/{{ venue.id }}'">
		<span class="mdc-list-item__ripple"></span>
		<span class="material-icons" aria-hidden="true">music_note</span>
		<span class="mdc-list-item__text px-2">{{ venue.name }}</span>
	</li>
	{% endfor %}
</ul>
{% endblock %}