{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="mdc-list" data-mdc-auto-init="MDCList">
	{% for artist in results.data %}
	<li class=" mdc-list-item" tabindex="0" data-mdc-auto-init="MDCRipple" onclick="location.href='/artists/{{ artist.id }}'">
		<span class="mdc-list-item__ripple"></span>
		<span class="material-icons" aria-hidden="true">group</span>
		<span class="mdc-list-item__text px-2">{{ artist.name }}</span>
	</li>
	{% endfor %}
</ul>
{% endblock %}