{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
	<div class="mdc-card">
		<div class="mdc-card__primary-action" tabindex="0" data-mdc-auto-init="MDCRipple">
			<div class="mdc-card__media mdc-card__media--16-9" style="background-image: url({{ artist.image_link }});"></div>
			<h2 class="mdc-typography mdc-typography--headline6 px-3 mb-0">{{ artist.name }}</h2>
			<h3 class="mdc-typography mdc-typography--subtitle2 m-0">
				<div class="mdc-chip-set" role="grid">
					{% for genre in artist.genres %}
					<div class="mdc-chip" role="row">
						<div class="mdc-chip__ripple"></div>
						<span role="gridcell">
							<span role="button" class="mdc-chip__primary-action">
								<span class="mdc-chip__text">{{ genre }}</span>
							</span>
						</span>
					</div>
					{% endfor %}
				</div>
			</h3>
			<div class="px-2 pb-2">
				<p><i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}</p>
				<p><i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}</p>
				<p class="text-truncate"><i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}</p>
				<p class="text-truncate"><i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}"target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}</p>
			</div>
		</div>
		<div class="mdc-card__actions">
		  <div class="mdc-card__action-buttons">
			<a class="mdc-button mdc-card__action mdc-card__action--button" href="/artists/{{ artist.id }}/edit" data-mdc-auto-init="MDCRipple"><span class="mdc-button__ripple"></span> Edit</a>
			<button class="mdc-button mdc-card__action mdc-card__action--button" onclick="fetch('/artists/{{ artist.id }}', {method: 'delete'}).then(()=>{
				snackbar.labelText='Artist {{ artist.name }} was successfully deleted!'; snackbar.open();
				 setTimeout(() => {location.href='/'}, 1500);
				 })" data-mdc-auto-init="MDCRipple"> <span class="mdc-button__ripple"></span> Delete</button>
		  </div>
		</div>
	  </div>

	</div>

	  <div class="col-sm-6">
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>

</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
		<div class="col-sm-4 mb-3">
			<div class="mdc-card">
				<div class="mdc-card__primary-action" tabindex="0" data-mdc-auto-init="MDCRipple">
					<div class="mdc-card__media mdc-card__media--16-9"
						style="background-image: url({{ show.venue_image_link }});"></div>
					<div class="px-3 pb-3">
						<h2 class="mdc-typography mdc-typography--headline6"><a
								href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h2>
						<h3 class="mdc-typography mdc-typography--subtitle2">
							{{ show.start_time|datetime('full') }}</h3>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4 mb-3">
			<div class="mdc-card">
				<div class="mdc-card__primary-action" tabindex="0" data-mdc-auto-init="MDCRipple">
					<div class="mdc-card__media mdc-card__media--16-9"
						style="background-image: url({{ show.venue_image_link }});"></div>
					<div class="px-3 pb-3">
						<h2 class="mdc-typography mdc-typography--headline6"><a
								href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h2>
						<h3 class="mdc-typography mdc-typography--subtitle2">
							{{ show.start_time|datetime('full') }}</h3>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}

