<!doctype html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- /meta -->

  <!-- styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
  <!-- /styles -->

  <!-- favicons -->
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <!-- /favicons -->

  <!-- scripts -->
  <script src="https://kit.fontawesome.com/af77674fe5.js"></script>
  <script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
  <script src="/static/js/libs/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
  <!-- /scripts -->
</head>

<body class="mdc-typography">

  <!-- Wrap all page content here -->
  <div id="wrap">

    <header class="mdc-top-app-bar app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <a class="app-bar__title-link" href="/">
            <div class="app-bar__leading-icon">🔥</div>
          </a>
          <a class="mdc-button mdc-top-app-bar__action-item--unbounded {% if request.endpoint == 'venues' %}active{% endif %}"
            data-mdc-auto-init="MDCRipple" href="{{ url_for('venues') }}">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Venues</span>
          </a>
          <a class="mdc-button mdc-top-app-bar__action-item--unbounded {% if request.endpoint == 'artists' %}active{% endif %}"
            data-mdc-auto-init="MDCRipple" href="{{ url_for('artists') }}">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Artists</span>
          </a>
          <a class="mdc-button mdc-top-app-bar__action-item--unbounded {% if request.endpoint == 'shows' %}active{% endif %}"
            data-mdc-auto-init="MDCRipple" href="{{ url_for('shows') }}">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Shows</span>
          </a>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          {% if (request.endpoint == 'venues') or
            (request.endpoint == 'search_venues') or
            (request.endpoint == 'show_venue') %}
          <form class="search" method="post" action="/venues/search">
            <label class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
              <input class="mdc-text-field__input" type="search" name="search_term" aria-labelledby="search-id">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="search-id">Find a venue</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            </label>
          </form>
          {% endif %}
          {% if (request.endpoint == 'artists') or
            (request.endpoint == 'search_artists') or
            (request.endpoint == 'show_artist') %}
          <form class="search" method="post" action="/artists/search">
            <label class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
              <input class="mdc-text-field__input" type="search" name="search_term" aria-labelledby="search-id">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="search-id">Find an artist</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            </label>
          </form>
          {% endif %}
        </section>
    </header>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">
      <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface">
          <div class="mdc-snackbar__label" role="status" aria-live="polite">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>

          <div class="mdc-snackbar__actions">
            <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss"
              onclick="snackbar.close()">close</button></div>
        </div>
      </div>
      {% block content %}{% endblock %}

    </main>

  </div>

  <div id="footer">
    <div class="container">
      <p>Fyyur &copy; All Rights Reserved.</p>
      {% block footer %}{% endblock %}
    </div>
  </div>

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script>mdc.autoInit();
    const snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        snackbar.open()
      {% endif %}
    {% endwith %}
  </script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>

</body>

</html>