
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/

 :root{
  --mdc-theme-primary: #ff8c3a;
  --mdc-theme-secondary: #ffffff;;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #d32f2f;  
}

body{
  margin:0;
}

.app-bar {
  background-color: var(--mdc-theme-secondary, #ffffff);
  border-bottom: 1px solid #EEEEEE;
}

.app-bar .mdc-button {
  color: var(--mdc-theme-text-primary-on-background, rgb(0, 0, 0, 0.87));
  margin-inline-start: 0.5rem;
  text-decoration: none;
}

.app-bar .mdc-button.active {
  color: var(--mdc-theme-primary,#ff8c3a);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary,#ff8c3a);
}
.app-bar__title-link {
  display: flex;
  align-items: center;
  color: var(--mdc-theme-on-secondary, #d32f2f);
  margin: 0 8px;

}

.app-bar__title-link,
.app-bar__title-link:active,
.app-bar__title-link:focus,
.app-bar__title-link:hover {
  text-decoration: none
}

.app-bar__title {
  margin: 0 8px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: normal;
}

.app-bar__leading-icon {
  font-size: 2rem;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html {
  font-size: initial;
}
section > h2 {
  margin-bottom: 20px;
}
a {
  cursor: pointer;
  color: #ff8c3a;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: initial;
  color: initial;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

#front-splash {
	width: 100%;
}
.navbar.navbar-fixed-top {
  background: none;
  box-shadow: none;
  border-bottom: none;
  padding-top: 10px;
  background-color: white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background: none;
    box-shadow: none;
    color: black;
    font-weight: bold;
}
.app-bar .mdc-text-field {
  height: 36px;
}
.app-bar .mdc-text-field input {
  background-color: white !important;
}
.app-bar .mdc-floating-label--float-above {
  transform: translateY(-26px) scale(0.75) !important;
}

.btn-default {
    border: none;
    background-color: #dde2e7;
    background-image: linear-gradient(#dde2e7,#dde2e7);
    color: #444;
}

#content h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#content h3 button {
    margin-right: 10px;
}

ul.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.items > li > a {
  margin-bottom: 15px;
  display: flex;
  color: initial;
  text-decoration: initial;
}
ul.items > li > a > i {
  padding: 7px 10px 0;
}
ul.items > li:hover {
  color: orange;
  cursor: pointer;
}
ul.items > li:hover h5 {
  color: orange;
}
.item {
  padding: 5px 5px 5px;
  flex: 1;
}
.item h5 {
  margin-top: 0;
  margin-bottom: 5px;
}
img {
  max-width: 100%;
  max-height: 500px;
}
p {
  margin: 5px 0;
}
p > i {
  width: 30px;
  text-align: center;
}
.not-seeking {
  opacity: 0.6;
}
.seeking {
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: bold;
  background: #ffffc6;
}

.seeking > button {
  margin-left: 15px;
}
.description {
  max-width: 450px;
}
.genres {
  margin-bottom: 15px;
}
span.genre {
  display: inline-block;
  font-family: monospace;
  padding: 4px 8px;
  background: #f0f0f0;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  color: #676767;
  font-size: 0.9em;
  text-transform: uppercase;
  border: solid 1px #eee;
}
.monospace {
  font-family: monospace;
  text-transform: uppercase;
}
h1.monospace {
  font-size: 2.5rem;
}

.shows .tile-show {
  height: 350px;
}
.tile {
  text-align: center;
  padding: 15px 25px;
  border: solid 1px #ebebeb;
  height: 325px;
  margin-bottom: 15px;
}
.tile img {
  max-height: 200px;
}
.form-wrapper {
  max-width: 400px;
}
.form-inline {
  font-size: 0;
}
.form-inline .form-group {
  width: 50%;
}
.form-inline .form-control {
  width: 100%;
}
.subtitle {
  opacity: 0.5;
}

.form-control{
  display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-select-lg {
  height: calc(1.5em + 1rem + 2px);
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.2rem;
}
.form-select[multiple] {
  height: auto;
  background-image: none;
}

.mdc-select{
  min-width: unset;
}
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary,#ff8c3a);
}