{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
<div class="form-wrapper mx-auto">
  <form class="form" method="post" action="/venues/{{venue.id}}/edit">
    {{ form.csrf_token }}
    <h3 class="form-heading  row mx-0 align-items-center">
      <button type="button" class="mdc-icon-button material-icons" style="width: 2rem;height: 2rem;padding: 0;" onclick="location.href=`{{ url_for('index') }}`">arrow_back</button>
      <span class="mdc-typography--subtitle2">Edit venue <em>{{ venue.name }}</em></span>
    </h3>

    <div class="form-group my-2">
      <div class="mdc-text-field mdc-text-field--filled" style="width: 100%;" data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.name(class_ = 'mdc-text-field__input', autofocus = true) }}
        <label class="mdc-floating-label" for="name">Name</label>
        <span class="mdc-line-ripple"></span>
      </div>
    </div>

    <div class="row mx-0 my-2">
      <div class="mdc-text-field mdc-text-field--filled" style="flex: 1;" data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.city(class_ = 'mdc-text-field__input', autofocus = true) }}
        <label class="mdc-floating-label" for="city">City</label>
        <span class="mdc-line-ripple"></span>
      </div>
      <div class="mdc-text-field mdc-text-field--filled p-0" data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.state(class_ = 'form-control form-select mdc-text-field__input', placeholder='State', autofocus = true) }}
        <label class="mdc-floating-label mdc-floating-label--float-above" for="state">State</label>
        <span class="mdc-line-ripple"></span>
      </div>
    </div>

    <div class="form-group my-2">
      <div class="mdc-text-field mdc-text-field--filled" style="width: 100%;" data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.address(class_ = 'mdc-text-field__input', autofocus = true) }}
        <label class="mdc-floating-label" for="address">Address</label>
        <span class="mdc-line-ripple"></span>
      </div>
    </div>

    <div class="form-group my-2">
      <div class="mdc-text-field mdc-text-field--filled" style="width: 100%;" data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.phone(class_ = 'mdc-text-field__input', placeholder='xxx-xxx-xxxx', pattern = '^([0-9]{3})[-][0-9]{3}[-][0-9]{4}$', autofocus = true) }}
        <label class="mdc-floating-label" for="phone">Phone</label>
        <span class="mdc-line-ripple"></span>
      </div>
    </div>

    <div class="form-group my-2">
      <div class="mdc-text-field mdc-text-field--filled p-0" style="width: 100%;height: auto;"
        data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.genres(class_ = 'form-control form-select form-select-lg mdc-text-field__input', placeholder='Genres, separated by commas', id='genres', autofocus = true) }}
        <label class="mdc-floating-label mdc-floating-label--float-above">Genres: Ctrl+Click to select multiple</label>
        <span class="mdc-line-ripple"></span>
      </div>
    </div>

    <div class="form-group my-2">
      <div class="mdc-text-field mdc-text-field--filled" style="width: 100%;" data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.facebook_link(class_ = 'mdc-text-field__input', autofocus = true) }}
        <label class="mdc-floating-label" for="facebook_link">Facebook Link</label>
        <span class="mdc-line-ripple"></span>
      </div>
    </div>

    <div class="form-group my-2">
      <div class="mdc-text-field mdc-text-field--filled" style="width: 100%;" data-mdc-auto-init="MDCTextField">
        <span class="mdc-text-field__ripple"></span>
        {{ form.image_link(class_ = 'mdc-text-field__input', autofocus = true) }}
        <label class="mdc-floating-label" for="image_link">Image Link</label>
        <span class="mdc-line-ripple"></span>
      </div>
    </div>

    <button type="submit" class="mdc-button mdc-button--outlined" data-mdc-auto-init="MDCRipple"> <span
        class="mdc-button__ripple"></span>Edit Venue</button>

  </form>
</div>
{% endblock %}